<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Basic Tables</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Basic Tables</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">首页</a>
        <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
        <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
        <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->




 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">


  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          表单名称
        </div>
        <div class="panel-body table-responsive">
          <p>测试开始</p>

          <table class="table table-hover">
            <thead>
              <tr>
                <td class="text-center"><i class="fa fa-trash"></i></td>
                <td>id</td>
                <td>机构名称</td>
                <td>法人</td>
                <td>注册日期</td>
                <td>备注</td>
                <td>付款</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox1" type="checkbox"><label for="checkbox1"></label></div></td>
                <td># <b>9652</b></td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox2" type="checkbox"><label for="checkbox2"></label></div></td>
                <td># <b>1963</b></td>
                <td>New Season Jacket</td>
                <td>Jane Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Paypal</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox3" type="checkbox"><label for="checkbox3"></label></div></td>
                <td># <b>9652</b></td>
                <td>IO Mouse</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox4" type="checkbox"><label for="checkbox4"></label></div></td>
                <td># <b>9651</b></td>
                <td>Doe Bike</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- End Panel -->

  </div>
  <!-- End Row -->


<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
</div>
<!-- End Content -->