<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </div>
</div>
<!--end-Footer-part--> 
<script src="/static/admin/js/jquery.min.js"></script> 
<script src="/static/admin/js/jquery.ui.custom.js"></script> 
<script src="/static/admin/js/bootstrap.min.js"></script> 
<script src="/static/admin/js/bootstrap-colorpicker.js"></script> 
<script src="/static/admin/js/bootstrap-datepicker.js"></script> 
<script src="/static/admin/js/jquery.toggle.buttons.html"></script> 
<script src="/static/admin/js/masked.js"></script> 
<script src="/static/admin/js/jquery.uniform.js"></script> 
<script src="/static/admin/js/select2.min.js"></script> 
<script src="/static/admin/js/matrix.js"></script> 
<script src="/static/admin/js/matrix.form_common.js"></script> 
<script src="/static/admin/js/wysihtml5-0.3.0.js"></script> 
<script src="/static/admin/js/jquery.peity.min.js"></script> 
<script src="/static/admin/js/bootstrap-wysihtml5.js"></script> 
