<link rel="stylesheet" href="/static/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/static/admin/css/colorpicker.css" />
<link rel="stylesheet" href="/static/admin/css/datepicker.css" />
<link rel="stylesheet" href="/static/admin/css/uniform.css" />
<link rel="stylesheet" href="/static/admin/css/select2.css" />
<link rel="stylesheet" href="/static/admin/css/matrix-style.css" />
<link rel="stylesheet" href="/static/admin/css/matrix-media.css" />
<link rel="stylesheet" href="/static/admin/css/bootstrap-wysihtml5.css" />
<link href="/static/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />